<div class="manual-data-input">
  <div class="row">
    <div class="col-12">
      <h3>Manual Data Input</h3>
      <form (ngSubmit)="submitEnergyData($event)">
        <div class="mb-3">
          <label for="value" class="form-label">Daily kWh consumption</label>
          <input type="number" class="form-control" id="value">
        </div>

        <div class="mb-3">
          <label for="date" class="form-label">Date</label>
          <input type="date" class="form-control" id="date">
        </div>

        <button type="submit" class="btn btn-primary">Submit Data</button>
      </form>
    </div>
  </div>
</div> 